body {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(160, 227, 241);
}

#gameContainerContainer {
    display: flex;
    width: 100vw;
    height: 75vh;
}

#createNewGameButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#createNewGameButton {
    border: 5px outset;
}

#startGameContainer {
    display: flex;
    width: 100vw;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 251, 78);
    display: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
    flex-direction: column;
    background-color: rgb(214, 251, 78);
    /* display: none; */
}

.resultText {
    visibility: hidden;
}

.diceImage {
    opacity: 0;
}

.diceRollButton {
    border: 5px outset;
}