body {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(160, 227, 241);
}

#gameContainerContainer {
    display: flex;
    width: 100vw;
    height: 75vh;
    display: none;
    display: flex;
}

#createNewGameButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: none;
    display: flex;
}

#createNewGameButton {
    border: 5px outset;
}

#startGameContainer {
    display: flex;
    width: 100vw;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 251, 78);
    display: flex;
    display: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
    flex-direction: column;
    background-color: rgb(214, 251, 78);
}

.resultText {
    visibility: hidden;
}

.playerName {
    color: red;
}

.diceImage {
    opacity: 0;
}

.diceRollButton {
    border: 5px outset;
}
.holdScoreButton {
    border: 5px outset;
}

.currentScoreText {
    display: flex;
    background-color: rgb(225, 95, 216);
    border-radius: 50px;
    width: 25vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
}

.totalScoreText {
    display: flex;
    background-color: rgb(226, 107, 9);
    border-radius: 50px;
    width: 25vw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
}